@import "mixins.scss";


$black: #06081C;
$green: #91C650;
$orange: #FFA546;
$yellow: #FFC700;
$darkblue: #003D61;


* {
  box-sizing: border-box;
  font-family: "Rubik";
  font-weight: 400;
}

.main-wrap{
  overflow: hidden;
  position: relative;
  padding-top: 30px;
}

.container{
  max-width: 100%;
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

button{
  outline: 0;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.body{
  margin:0;
  padding:0;
}

body.hidden{
  @include for-992{
    overflow: hidden;
    position: fixed;
  }
}

.tablet{
  @media (min-width: 992px) {
    display: none !important;
  }
}
.mobile{
  @media (min-width: 768px) {
    display: none !important;
  }
}

input{
  transition: 0.3s;

  &:focus{
    border-color: #5b6e7b !important;
    color: #163143 !important;
  }
  &:active{
    border-color: #5b6e7b !important;
  }

}
.correct input,
.correct textarea{
  color: #5b6e7b !important;
  border-color: #aef7e9 !important;
}

.error-field input,
.error-field textarea{
  color: #5b6e7b !important;
  border-color: #ee789a !important;
}


/*fix bootstrap styles of 15 to 20*/
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
  padding-right: 20px;
  padding-left: 20px;
}
.row{
  margin-right: -20px;
  margin-left: -20px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right: 20px;
  padding-left: 20px;
}

a:hover{
  color: $orange;
  opacity: 1;
}
/*fix bootstrap styles of 15 to 20 end*/

.full-content{
  display: flex;
  flex-direction: column;
  //min-height: calc(100vh - 150px);
  padding-bottom: 60px;
  //padding-bottom: 30px;
  padding-top: 20px;
}

.not-full-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //min-height: 20vh;
  //padding-bottom: 60px;
  padding-top: 20px;
  //min-height: 41vh;
  //padding-bottom: 60px;
}

.iphone .not-full-content {
  //min-height: calc(41vh - 60px);
}

.site-btn{
  min-height: 55px;
  background: $green;
  border: 0;
  border-radius: 30px;
  width: 100%;
  max-width: 335px;
  display: flex;
  justify-content: center;
  align-items: center;

  span{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
  }

  &--orange{
    background-color:  $orange;
  }
}

.site-link{
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
}

.site-form{

  &__section{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $black;
    margin-bottom: 1rem;
    display: flex;
  }

  .form-group{
    position: relative;

    input[type="text"],
    input[type="password"],
    input[type="email"]{
      background: #FFFFFF;
      border: 0.5px solid #CCCCCC;
      box-sizing: border-box;
      border-radius: 15px;
      min-height: 55px;
      font-size: 16px;
      line-height: 19px;
      color: $black;

      &::placeholder{
        color: rgba(6, 8, 28, 0.4);
      }
    }

  }

  &__select{
    position: relative;
    background: white;
    font-size: 16px;
    line-height: 19px;
    color: $black;

    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: url("../img/ico/select-ico.svg") center/13px no-repeat;
      width: 48px;
      height: 48px;
    }

    select{
      background: transparent;
      border: 0.5px solid #CCCCCC;
      box-sizing: border-box;
      border-radius: 15px;
      min-height: 55px;
      padding-right: 38px;
      -webkit-appearance: none;
      position: relative;
      z-index: 1;

      &:focus{
        background: transparent;
      }
    }
  }

  &__file{

    input[type="file"]{
      display: none;
    }

    label{
      display: flex;
      align-items: center;

      svg{
        width: 16px;
        height: 16px;
        margin-right: 7px;
      }

      span{
        font-size: 16px;
        line-height: 19px;
        color: $black;
      }
    }

    &-load{
      display: flex;
      flex-wrap: wrap;
      margin: 15px 0;

      & > div {
        background: $orange;
        border-radius: 30px;
        padding: 8px 30px 8px 10px;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        color: #FFFFFF;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        position: relative;

        &:after{
          content: '';
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          background: url("../img/ico/mini-cross-ico.svg") center/contain no-repeat;
          width: 9px;
          height: 9px;
          position: absolute;
        }
      }
    }


  }

  &__textarea{
    display: flex;
    width: 100%;

    textarea{
      border: 1px solid #CCCCCC;
      box-sizing: border-box;
      border-radius: 15px;
      resize: none;
      height: 95px;
      width: 101%;
      padding: 15px;

      &::placeholder{
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: rgba(6, 8, 28, 0.45);
      }
    }
  }

  &__slider-style{

    .site-form__subtitle{
      position: relative;

      &:after{
        content: '%';
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: $green;
      }
    }

    .slider-count{
      margin-left: 5px;
      height: auto !important;
      min-height: auto !important;
      display: inline-flex;
      border: none !important;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: $green !important;
      width: 34px;
      text-align: right;
    }

    .noUi-connect{
      background: $green;
    }

    .noUi-horizontal {
      height: auto;
      box-shadow: none;
      border: 0;
    }

    .noUi-connects{
      border-radius: 0;
      height: 6px;
      border: none;
      background: #E6E6E8;
    }

    .noUi-handle{
      width: 26px;
      height: 26px;
      border-radius: 50%;
      outline: none;
      background: white;
      box-shadow: none;
      border: 5px solid $green;
      top: -9px;

      &:before, &:after{
        display: none;
      }
    }
  }

}

.page__wrapper{
  overflow: hidden;
  position: relative;
  //min-height: 100vh;
  background-color: $darkblue;

  &:after{
    content: '';
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: #ffffff;
    z-index: 1;
  }
}

.page-flow-wrap{
  height: calc(100vh - 59px);
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.iphone .page-flow-wrap{
  height: calc(100vh - 120px);
}


.content-block{
  background: white;
  border-radius: 30px 30px 0 0;
  //padding-top: 20px;
  //min-height: 55vh;
  //min-height: 376px;
  //min-height: calc(100vh - 289px);
  min-height: calc(100vh - 349px);
  position: relative;
  z-index: 2;
  //padding-bottom: 40px;

  @media (min-height: 700px) and (max-width: 600px){
    //min-height: 75vh;
  }

  &--orders{
    //padding-bottom: 20px;

    .swiper-container{
      //overflow: inherit;
    }
  }
}


.iphone .content-block{
  min-height: calc(100vh - 349px);
}

.header{
  width: 100%;

  &__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__money{
    display: flex;
    align-items: center;

    span{
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
    }
  }

  &__money-ico{
    margin-right: 5px;

    svg{
      width: 25px;
      height: 25px;
    }
  }

  &__setting{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
  }

  &__setting-btn{
    border: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      left: -15px;
      top: -15px;
      width: calc(100% + 30px);
      height: calc(100% + 30px);
    }

    svg{
      width: 25px;
      height: 25px;
      position: relative;
      z-index: 1;
    }
  }
}

.stock{
  width: 100%;
  margin-bottom: 20px;

  &__inner{

  }

  &__slider{

  }

  &__slider-item{

  }

  &__slider-link{
    display: flex;
    padding: 0 5px;
    height: 90px;

    picture{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img{
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.head-tabs{
  margin-bottom: 20px;

  &__inner{
    padding-left: 20px;
    padding-right: 20px;
    overflow: inherit;

    //&.swiper-container {
    //  overflow: inherit !important;
    //}
  }

  &__nav{
    display: flex;
    margin: 0 -3px;
    justify-content: space-between;

    @include from-550{
      justify-content: space-around;
    }
  }

  &__nav-item{
    width: fit-content;
  }

  &__nav-link{
    padding: 0 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.35;
    position: relative;
    display: block;
    transition: .2s all;
    white-space: nowrap;

    &:hover{
      opacity: .35;
      color: #FFFFFF;
    }

    @include from-350{
      font-size: 17px;
    }

    //&.active{
    //  opacity: 1;
    //
    //  &:before{
    //    content: '';
    //    width: 8px;
    //    height: 8px;
    //    background: $orange;
    //    border-radius: 50%;
    //    position: absolute;
    //    transform: translateX(-50%);
    //    left: 50%;
    //    bottom: -4px;
    //  }
    //}
  }
  &__nav-item.swiper-slide-thumb-active &__nav-link{
    opacity: 1;

    &:before{
      content: '';
      width: 8px;
      height: 8px;
      background: $orange;
      border-radius: 50%;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      bottom: -4px;
    }
  }
}

.orders{

  &__list{
    //padding-bottom: 20px;
    padding-bottom: 50px;

    .row {
      margin: 0 -5px;

      & > div{
        padding: 0 5px;
      }
    }
  }

  &__list-empty{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    //min-height: 41vh;
    min-height: 20vh;

    p{
      margin: 0;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: rgba(6, 8, 28, 0.3);
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    padding: 15px 20px 20px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    margin-bottom: 10px;
  }

  &__row{
    display: flex;
    margin-bottom: 15px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__name{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $black;
    display: flex;
    flex-direction: column;
  }

  &__id{
    font-size: 12px;
    line-height: 14px;
    color: rgba(6, 8, 28, 0.5);
    margin-top: 5px;
  }

  &__date{
    font-size: 12px;
    line-height: 24px;
    color: rgba(6, 8, 28, 0.5);
    margin-left: auto;
  }

  &__price{
    font-size: 12px;
    line-height: 14px;
    color: rgba(6, 8, 28, 0.5);
    min-width: 80px;
  }

  &__price-i{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $orange;
    margin-top: 5px;
  }

  &__status{
    font-size: 12px;
    line-height: 14px;
    color: rgba(6, 8, 28, 0.5);
    margin-left: 10px;
    padding-left: 20px;
    position: relative;

    &:before{
      content: '';
      height: 26px;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__status-i{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 5px;

    &.awaiting{
      color: $yellow;
    }

    &.completed{
      color: $green;
    }
  }

  &__btn{
    display: flex;
    justify-content: center;
    //padding-bottom: 30px;
    //height: 60px;
    //height: 120px;

  }

  &__btn-i{
    transition: .15s all;
    //position: absolute;
    position: fixed;
    //bottom: 50px;
    bottom: 90px;
    //bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    @media (min-height: 700px) {
      bottom: 110px;
    }

    svg{
      width: 19px;
      height: 19px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    svg path{
      transition: .3s all;
      visibility: hidden;
      opacity: 0;
    }
  }

  &__btn-i.fixed{
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 100;
    width: 60px;
    height: 60px;
    box-shadow: 0 20px 40px rgba(145,198,80,.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: auto;
    transform: translateX(0);

    span{
      opacity: 0;
      visibility: hidden;
    }

    svg path{
      visibility: visible;
      opacity: 1;
    }
  }

  &__plus-btn{
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 100;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #91C650;
    box-shadow: 0 20px 40px rgba(145, 198, 80, 0.5);
    border-radius:50%;

    svg{
      width: 19px;
      height: 19px;
    }
    //
    //&:after{
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  right: 0;
    //  display: block;
    //  width: 45px;
    //  height: 45px;
    //  background: url("../img/ico/chact-btn.svg") center center no-repeat;
    //}
  }


}

.iphone .orders__btn-i{
  //bottom: 120px;
}
.iphone .orders__list{
  padding-bottom: 40px;
}

.iphone .orders__list-empty,
.iphone .not-full-content{
  min-height: 25vh;
}

.iphone .chat__bottom{
  //margin-bottom: 60px;
  //margin-bottom: 120px;
  margin-bottom: 60px;
}

.login-page{
  background: white;
  //min-height: 100vh;


  &__inner{
    display: flex;
    width: 100%;
    //min-height: calc(100vh - 60px);
    //min-height: calc(100vh - 80px);
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  &__logo{
    height: 25vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 15px;

    svg{
      height: 100%;
      padding: 10px 0;
    }

    @include from-350{
      //min-height: 265px;
    }
  }

  &__content{
    padding: 0 20px 20px;
    //padding: 0 20px;
  }

  &__list{
    margin-bottom: 40px;
  }

  &__list-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__list-ico{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    svg{
      width: 35px;
      height: 35px;
    }
  }

  &__list-txt{
    color: $darkblue;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
  }

  &__enter{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__enter-link{

  }

  &__enter-registration{

  }

  &__social{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  &__social-title{
    font-size: 16px;
    line-height: 19px;
    color: $black;
    text-align: center;
    margin-bottom: 15px;
  }

  &__social-list{
    display: flex;
    margin: 0 -5px;
  }

  &__social-item{
    padding: 0 5px;

  }

  &__social-link{
    border: 1.15px solid rgba(6, 8, 28, 0.1);
    border-radius: 35px;
    min-width: 117px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    color: $black;

    svg{
      margin-right: 10px;
    }
  }

  &__form{


  }

  &__show-pass{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

//.iphone .login-page__inner{
//  min-height: calc(100vh - 80px);
//}

.project{
  position: relative;

  &__inner{

  }

  &__head{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__back{
    position: absolute;
    left: 0;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(-50%) translateX(-20px);
    display: flex;
    justify-content: center;
    align-items: center;  }

  &__title{
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: $black;
    padding: 0 25px;
  }

  &__status{
    min-height: 55px;
    background: rgba(255, 165, 70, 0.15);
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  &__table{
    background: #FFFFFF;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px 20px;
  }

  &__table-row{
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;

    &:last-child{
      border-bottom: none;
    }

    span{
      font-size: 15px;
      line-height: 18px;
      color: $black;

      &.orange{
        color: $orange;
      }

      &:last-child{
        margin-left: auto;
        display: block;
      }
    }
  }

  &__table-coast{
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.02em;
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 10px;

    span{
      color: $orange;
      font-weight: 500;
    }
  }

  &__links{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__links-i{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    color: $black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:last-child{
      border-bottom: 0;
    }

    svg{
      margin-right: 10px;
    }

    &--files &--num{
        color: $orange
    }
  }

  &__links-i-col{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    display: flex;
    align-items: center;
  }

  &__links-i--num{
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
  }

  &__review{
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
    border-radius: 15px 0px 15px 15px;
    position: relative;
    padding: 20px 20px 20px;
    margin-top: 15px;
    margin-bottom: 30px;

    &:before{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 16px 16px;
      border-color: transparent transparent #f5f5f5 transparent;
      position: absolute;
      right: 0;
      top: -16px;
    }
  }

  &__review-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__review-stars{
    display: flex;
  }

  &__review-stars-i{
    display: inline-flex;
    height: 16px;
    width: 16px;
    transition: .2s all;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background: url("../img/ico/star-ico.svg");
    margin-right: 7px;

    &.active{
      background: url("../img/ico/star-active-ico.svg");
    }
  }

  &__review-change{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: $orange;
  }

  &__review-txt{
    font-size: 16px;
    line-height: 22px;
    color: $black;
  }

  &__tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__tabs-list{
    width: 100%;
    display: flex;
  }

  &__tabs-i{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $black;
    height: 40px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 50%;
    padding-top: 5px;
    transition: .2s all;

    &.active{
      border-bottom: 4px solid #91C650;
    }
  }

  &__files{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__files-section{
    display: none;
    flex-direction: column;

    &.active{
      display: flex;
    }
  }

  &__files-list{
    margin: 0 -5px;
  }

  &__files-i{
    padding: 0 5px;
    margin-bottom: 10px;
  }

  &__files-i-content{
    background: #FFFFFF;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 15px;
    height: 100%;
  }

  &__files-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__files-ico{
    svg{
      width: 30px;
      height: 30px;
    }
  }

  &__files-setting{
    margin: 0 5px;
    height: 15px;
    width: 3px;
    background: url("../img/ico/file-setting-ico.svg") center/contain no-repeat;
    position: relative;

    &:after{
      content: '';
      position: absolute;
      left: -20px;
      top: -10px;
      width: calc(100% + 40px);
      height: calc(100% + 20px);
    }
  }

  &__files-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $black;
    margin-bottom: 10px;
    display: flex;
  }

  &__files-date{
    font-size: 12px;
    line-height: 14px;
    color: rgba(6, 8, 28, 0.4);
  }

  &__files-add{
    //margin-top: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  &__promo{
    //margin-top: 60px;
    margin-top: 30px;
    padding-bottom: 20px;

    .site-form__subtitle{
      font-weight: 400;
    }
  }

  &__promo-btn{
    display: flex;
    justify-content: center;
  }

}

.add-order{
  &__head{
    margin-bottom: 30px;
  }

  &__head-list{
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
  }

  &__head-i{
    width: 26%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    background: #F8F8F8;
    position: relative;
    height: 58px;

    &:first-child:before{
      display: none;
    }

    &:after{
      content: '';
      border-style: solid;
      border-width: 29px 0 29px 23px;
      border-color: transparent transparent transparent #f8f8f8;
      position: absolute;
      right: -23px;
    }

    &:last-child:after{
      display: none;
    }

    &:first-child &-txt{
      &:before, &:after{
        display: none;
      }
    }
  }

  &__head-i-txt{
    max-width: 80px;
    font-size: 10px;
    line-height: 14px;
    color: $black;
    height: 100%;
    align-items: center;
    display: flex;

    @include from-350{
      font-size: 12px;
    }

    &:before{
      content: '';
      position: absolute;
      left: -23px;
      top: 0;
      border-style: solid;
      border-width: 0 23px 29px 0;
      border-color: transparent #f8f8f8 transparent transparent;
    }

    &:after{
      content: '';
      position: absolute;
      left: -23px;
      bottom: 0;
      border-style: solid;
      border-width: 0 0 29px 23px;
      border-color: transparent transparent #f8f8f8 transparent;
    }

    p{
      margin: 0;

      span{
        color: $orange;
        float: left;
        margin-right: 3px;
      }
    }
  }

  &__coast{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 25px 15px;
  }

  &__coast-txt{
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.02em;
    color: $black;

    span{
      font-weight: 500;
      color: $orange;
      display: block;
    }
  }

  &__info{
    position: absolute;
    top: 18px;
    right: 18px;

    &:before{
      content: '';
      left: -15px;
      top: -15px;
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      position: absolute;
    }

    svg{
      width: 24px;
      height: 24px;
    }
  }

  &__btn{
    display: flex;
    justify-content: center;
  }

}

.faq-page{

  &__tab{
    margin: 0 -20px;
    width: calc(100% + 40px);
    padding: 10px 0;
    margin-bottom: 10px;
  }

  &__tab-item{
    width: fit-content;
  }

  &__tab-link{
    border: 1px solid rgba(6, 8, 28, 0.1);
    border-radius: 35px;
    font-weight: 500;
    transition: .2s all;
    padding: 11px 18px;
    color: $black;

    &.active {
      color: white;
      background: $green;
      border-color: $green;
    }
  }

  &__question{
    display: flex;
    flex-direction: column;
  }

  &__question-i{

  }

  &__question-link{
    font-size: 16px;
    line-height: 19px;
    color: $black;
    letter-spacing: 0.01em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    position: relative;
    padding-right: 30px;

    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 25px;
      width: 10px;
      height: 10px;
      background: url("../img/ico/arrow-right-ico.svg") center/contain no-repeat;

    }
  }

  &__answer{

    p{
      font-size: 15px;
      line-height: 22px;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

}

.footer{
  background: white;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;

  &__inner{
    height: 59px;
    padding-top: 10px;
    padding-bottom: 7px;
  }

  &__list{
    display: flex;
    justify-content: space-around;
  }

  &__item{

  }

  &__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #767879;
    padding: 0 15px;
  }

  &__link-ico{
    margin-bottom: 2px;

    svg{
      height: 26px;
    }
  }

  &__link.active{
    color: $darkblue;

    svg{

      path{
        fill: $darkblue;
      }
    }
  }
}

.popup{
  background: white;

  .modal-dialog{
    margin: 0;
    min-height: 100%;
    max-width: 100%;
  }

  .modal-content{
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: white;
    z-index: 999;
    border-radius: 0;
    min-height: max-content;
    padding-bottom: 30px;
    border: none;
  }

  .modal-header{
    justify-content: center;
    border: 0;
    position: relative;

    .close{
      margin-left: 0;
      position: absolute;
      left: 0;
      opacity: 1;
      transform: translateY(2px);
    }

    .modal-title{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: $black;
    }
  }
  .modal-footer{
    border: 0;
  }
}

.small-popup{
  z-index: 1051;
  background: rgba(0, 0, 0, 0.7);

  .modal-content{
    border-radius: 15px;
    background: #F5F5F5;
    padding: 20px 10px;
    border: none;
  }

  .modal-dialog {
    margin: 1rem;
  }

  .info-popup{

    &__content{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__ico{

      svg{
        width: 98px;
        height: 98px;
      }
    }

    &__txt{

      p{
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.01em;
        color: $black;
        margin: 25px 0;
      }
    }

    &__btn{
      display: flex;
      justify-content: center;
      width: 100%;
    }

  }
}

.create-order{

  &__content{
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .site-form__form-btn{
      display: flex;
      justify-content: center;
    }
  }

  &__txt{
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: $black;

    svg{
      margin-bottom: 20px;
    }
  }

}

.form-group{

  &.valid:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 14px;
      height: 10px;
      background: url("../img/ico/check-g.svg") center center no-repeat;
  }

  &.novalid:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 14px;
      height: 10px;
      background: url("../img/ico/cross-red.svg") center/contain no-repeat;
  }

}

.chat-btn{
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 100;
  width: 60px;
  height: 60px;

  background: #91C650;
  box-shadow: 0 20px 40px rgba(145, 198, 80, 0.5);
  border-radius:50%;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 45px;
    height: 45px;
    background: url("../img/ico/chact-btn.svg") center center no-repeat;
  }
}


.chat{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: white;
  z-index: 200;
  transform: translateX(-100%);
  transition: 0.3s;

  &.open{
    transform: translateX(0);
  }

  &__inner{
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    //height: 100%;
    height: calc(100vh - 50px);
  }

  &__close{
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &__top{
    padding-bottom: 20px;
  }

  &__name{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #06081C;
    margin-top: 20px;
    text-align: center;
  }

  &__main{
    max-height: 450px;
    overflow: auto;
    margin: 0 -20px;
    padding: 0 20px 10px 15px;
  }

  &__data{
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: rgba(6, 8, 28, 0.5);
    margin-bottom: 20px;
  }

  &__incoming{
    margin-bottom: 20px;
    display: flex;

    img{
      width: 35px;
      height: 100%;
      margin-right: 5px;
      margin-left: -5px;
    }
  }

  &__incoming-text{
    background: #FFFFFF;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 13px 20px;
    width: 90%;
  }

  &__send{
    margin-bottom: 20px;
  }

  &__send-txt{
    width: 82%;
    margin-left: auto;
    background: #91C650;
    box-shadow: 0px 15px 30px rgba(145, 198, 80, 0.1);
    border-radius: 15px 15px 0px 15px;
    padding: 14px 20px;
    color: #ffffff;
  }

  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }

  &__file{

  }

  &__add-file{
    min-width: 42px;
    min-height: 42px;
    background: #91C650;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0;
    position: relative;

    &.count-file:after{
      content: attr(data-count);
      position: absolute;
      background: #FFA546;
      border: 2px solid #FFFFFF;
      width: 20px;
      height: 20px;
      top: -5px;
      right: -5px;
      z-index: 2;
      color: #ffffff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 11px;
      line-height: 15px;
    }

    svg{
      width: 13px;
      height: 13px;
    }
  }

  &__input-file{
    display: none;
  }

  &__input-wrap{
    width: 100%;
    margin: 0 20px;
  }

  &__input{
    background: #FFFFFF;
    border: 0.5px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 45px;
    height: 52px;
    padding-left: 17px;
    width: 100%;

    &::placeholder{
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: rgba(6, 8, 28, 0.4);
    }
  }

  &__send-btn-wrap{
    min-width: 42px;
    min-height: 42px;
    background: #91C650;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

    svg{
      width: 11px;
      height: 13px;
    }
  }

  &__send-btn{

  }

  &__files-block{
    .site-form__file-load{
      margin-bottom: 0;
      margin-top: 0;

      & > div{
        margin-bottom: 0;
        margin-top: 10px;
      }
    }

  }

}
